@media (min-width:721px)/*desktop*/{
.contenido{
    text-align: center;
  }
}

@@media (min-width:420px) and (max-width:720px)/*movil*/ {

}


body{
  margin: 10px;
  background-color: #02010a;
}

img{
  box-shadow: 2px 2px #02010a;
}

header{
  background-color: #5b7989;
  color: white;
  border-radius: 10px 10px 0 0;
  text-align: left;
  padding-left: 0.5%;
  padding-top: 0.5%;
}
header h1{
  font-size: 2em;
  font-family: "Dancing Script";
  font-style: italic;
  text-shadow: 2px 2px #02010a;
  text-decoration: none;
}

nav {
  font-family: "Dancing Script";
  text-align: right;
  padding-right: 1%;
}

a {
  color: white;
  text-align: right;
}

a:visited {
  color: white;
}

figcaption {
  display: none;
}

#imagen1 {
  text-align: center;
  background-color: #82c3a6;
  padding: 0.5%;
}

#imagen1 img{
  border: solid 2px black;
}

.contenedor1{
  padding: 0.5%;
  background-color: #d5c75f;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: "Dancing Script";
  color: white;
  text-align: center;
}

.contenedor1 img{
  border: solid 2px black;
}

.imagen2 img{
  box-shadow: 2px 2px #82c3a6;
}

.imagen2:hover{
  transform: rotate(10deg);
}

.imagen3 img{
  box-shadow: #82c3a6;
}

.imagen3:hover img{
  transform: translate(20px,-5px);
}

footer{
  background-color: #C6d5c5;
  padding: 0.5%;
  border-radius: 0px 0px 10px 10px;
  font-family: "Dancing Script";
  color: #262626;
}

footer img{
  box-shadow: none;
  border-radius: 5px;
}

.contenedor2{
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-around;
}

.redes_sociales{
  display: flex;
  align-self: center;
}
